/*Add CSS styles here*/
body{
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

#mapid{
    height: 100vh;
    width: 100vw;
    
}

p{
    font-size: 1.5em;
}

/* line graph style */

.axis path{
    stroke:black;
    stroke-width:2px ;
}   

.axis line{
    stroke: black;
    stroke-width: 1.5px;
} 

.axis text{
    fill: black;
    font-weight: bold;
    font-size: 14px;
    font-family:"Arial Black", Gadget, sans-serif;
} 

.legend text{
    fill:  black;
    font-family:"Arial Black", Gadget, sans-serif;
}

/* fatality map style */

#fatalityMap {
    height: 80vh;
    width: 100%;
    display: inline-block;
    padding: 20px;
}

/* bar chart style */
.background {
	position: absolute;
	
}

#barChart0 {
	translate: 0 -10%;
}


/* example map style */
#exampleMap {
    height: 80vh;
    width: 100%;
    display: inline-block;
    padding: 20px;
}