/*Add CSS styles here*/
body{
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif !important;
    background-color: #003c3d;
}

#mapid{
    height: 100vh;
    width: 100vw;
    
}

.title{
    font-size: 2em;
    color:#D3D3D3;
    height:100vh;
    display:inline-block;
}


.author{
    color:#D3D3D3;
    font-size: 1em;
}

.main-text{
    color:#D3D3D3
}

p{
    font-size: 1.5em;
}

/* line graph style */

.axis path{
    stroke:black;
    stroke-width:2px ;
}   

.axis line{
    stroke: black;
    stroke-width: 1.5px;
} 

.axis text{
    fill: black;
    font-weight: bold;
    font-size: 14px;
    font-family:"Arial Black", Gadget, sans-serif;
} 

.legend text{
    fill:  black;
    font-family:"Arial Black", Gadget, sans-serif;
}

/* fatality map style */

#fatalityMap {
    height: 80vh;
    width: 100%;
    display: inline-block;
    padding: 20px;
}

.beginning {
    background-color: rgba(255, 255, 255, 0) !important;
}

/* bar chart style */
.background.bar-chart {
	display:inline-block;
    width:60%;
    
}

.bar-chart {
    background-color: rgba(255, 255, 255, 0) !important;
}

#barChart0 {
	translate: 0 -10%;
}


/* example map style */
#exampleMap {
    height: 80vh;
    width: 100%;
    display: inline-block;
    padding: 20px;
}

/* interactive map style */
#interactiveMap {
    height: 80vh;
    width: 100%;
    display: inline-block;
    padding: 20px;
}

a:-webkit-any-link {
    color: #D3D3D3;
    cursor: pointer;
    text-decoration: underline;
    
}

.leaflet-popup-content p {
    margin: 4px 0 !important;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2em;
}